/* styles.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
}

#clock {
    position: absolute;
    top: 35px;
    right: 40px;
    font-size: 2.5rem;
    font-family: 'Montserrat', Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    padding: 0; 
}

@font-face {
    font-family: 'Montserrat';
    src: url('src/fonts/Montserrat-Bold.ttf') format('truetype'); /* Asegúrate de que la ruta sea correcta */
    font-weight: bold;
    font-style: normal;
}

.sidebar{
    background-color:white;
    width: max-content;
    border-radius: 0px 10px 10px 0px;
    padding: 2rem 1rem;
}

.sidebar:hover .sidebar__element{
    grid-template-columns: 40px 1fr;
}

.sidebar__list{
    list-style: none;
    padding: 0;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.sidebar__element{
    padding: .8rem 1.3rem;
    border-radius: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 40px 0fr;
    color: #526581;
    fill: #8491a5;
    transition: grid-template-columns .4s;
}

.sidebar__element:not(:has(.sidebar__icon--logo)):hover{
    background-color: #007aff;
    color: white;
    fill: white;
    cursor: pointer;
}

.sidebar__element:has(.sidebar__icon--logo){
    margin-bottom: 1rem;
}

.sidebar__icon{
    width: 100%;
    overflow: hidden;
    justify-self: center;
}

.sidebar__icon--logo{
     max-width: 40px;
}

.sidebar__logo{
    max-width: 75px;
    text-wrap: nowrap;
    margin-left: .1rem;
}

.sidebar__text{
    font-family: Poppins;
    text-wrap: nowrap;
}

.sidebar__logo, .sidebar__text{
    padding-left: 1.3rem;
}

@font-face {
    font-family: 'Poppins';
    src: url('src/fonts/Poppins/Poppins-Medium.ttf') format('truetype'); /* Asegúrate de que la ruta sea correcta */
    font-weight: normal;
    font-style: normal;
}

.sidebar__hide{
    overflow: hidden;
}

.sidebar__element--out{
    margin-top: auto;
}

a{
    text-decoration: none;
}

/*
.NewGameModal{
    background-color: #e5e9ef;
    width: 60%;
    height: 600px;
    margin: auto;
    padding: 10px; 
    border-radius: 2.5%;
    display: none;
}*/

.selecciona-players{
    height: 20%;
    background-color: #fff;
}
 
.name-player{
    height: 70%;
    background-color: #e5e9ef;
}

.botones-modal{
    height: 10%;
    background-color: #e5e9ef;
    display: flex;
    align-items: center;
}

.modal-buttons{
    background-color:white;
    /*padding: 5px 10px;*/
    height: 40px;
    width: 100px;
    /*border-color: grey;*/
    border-width: 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Poppins';
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #526581;
}

.cancel{
    margin-left: 40px;
}

.aplied{
    margin-left: auto;
    margin-right: 20px;
}

.modal-buttons:hover {
    background-color: #007aff;
    color: white;
    fill: white;
    cursor: pointer;
    border-width: 0px;
}

/**/

.NewGameModal {
    background-color: #e5e9ef;
    width: 60%;
    height: 600px;
    margin: auto;
    padding: 10px; 
    border-radius: 2.5%;
    max-height: 600px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    
}

.NewGameModal.show {
    opacity: 1;
    pointer-events: all;
}